* {
    margin: 0;
    font-family: 'poppins', sans-serif;
}
/* header strat */
.hdr {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom left, #fafdfe 0%,#f4ebff 40%, #e9f9ff 85%, #eefafd 95%);
}
.f-ico i {
    color: white;
    font-size: 17px;
    background-color: #0055FF;
    padding: 12px
}
.hl {
    font-size: 11px;
}
.hg1 {
    position: absolute;
    z-index: 1;
}
.hg1 img {
    width: 32vh;
    height: auto;
    margin: 100px 0px 0px 420px;
}
.hg2 img {
    height: 75vh;
    width: 100%;
    clip-path: polygon(83% 0, 100% 18%, 100% 100%, 16% 100%, 0 80%, 0% 0%);
}
.hg3 img {
    width: 37vh;
    height: auto;
    position: absolute;
    z-index: 1;
    margin: -200px 0px 0px -320px ;
}
.hg4 img {
    margin: -75px 0px 0px 360px ;
}
.btn {
    padding: 13px 19px;
}
.inp input {
    font-size: 18px;
    padding: 20px 25px;
    outline: none;
} 
/* header end */
/* client section start */
.sc-1 {
    background: linear-gradient(to top right, #ffffff 5%, #ebfafd 65%, #F1EEFF 100%);
}
.imgbg {
    margin-left: 50px;
}
.as img {
    height: auto;
    width: 80% !important;
}
.s img {
    height: auto;
    width: 120% !important;
    margin-top: 22px;
}
.ad img {
    height: auto;
    width: 80% !important;
    margin-top: 7px;
}
.af img {
    height: auto;
    width: 90% !important;
    margin-top: 30px;
}
.ag img {
    height: auto;
    width: 87% !important;
    margin-top: 18px;
}
.exbg {
    height: 10vh;
    background: linear-gradient(to top right, #ffffff 5%, #F7FDFE 65%, #EEFBFD 100%);
}
/* client section end */
/* service section start */
.all-tx-era {
    background: linear-gradient(to right, #FCF5FE 5%, #FFFFFF 65%, #FCF5FE);
}
.mo {
    display: flex;
    justify-content: center;
}
.mo h2 {
    width: 18%;
    padding: 5px 0px;
    font-size: 15px;
    font-weight: 600;
    background-color: #E6EEFF;
    color: #1764FF;
}
.cart-1 {
    border: 1px solid rgb(214, 221, 230);
    background-color: #FFFFFF;
    height:52vh;
    margin-top: -30px;
}
.cart-2 {
    border: 1px solid rgb(214, 221, 230);
    background-color: #FFFFFF;
    height:52vh;
}
.cart-3 {
    border: 1px solid rgb(214, 221, 230);
    background-color: #FFFFFF;
    height:52vh;
    margin-top: -30px;
}
.cart-4 {
    border: 1px solid rgb(214, 221, 230);
    background-color: #FFFFFF;
    height:52vh;
}
/* service section end */
@media (max-width: 768px) {
    .logo img {
        width: 60%;
        height: auto;
    }
    .ss {
        margin-left: -100px;
    }
    .ssl {
        margin-left: -200px;
    }
    .hl {
        margin-left: -100px;
    }
    .f-ico i {
        margin-left: -250px;
        font-size: 14px;
    }
    .menu {
        padding-top: 150px;
        margin-left: -150px;
    }
    .hg1 img {
        width: 45%;
        height: auto;
        margin: 75px 20px 0px 150px;
    }
    .hg2 img {
        width: 75%;
        height: auto;
    }
    .hg3 img {
        width: 30%;
        height: auto;
        padding: 0px 0px 0px 70px;
    }
}